/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --brand-color-blue: #002776;
  --brand-color-green: #009c3b;
  --brand-color-yellow: #ffdf00;
  --black-color: #000;
  --white-color: #fff;
}

body {
  font-size: 16px;
  font-family: "Lato", sans-serif;
}

.blue {
  -webkit-animation: fadeInBackgroundBlue ease 2s;
  animation: fadeInBackgroundBlue ease 2s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-webkit-keyframes fadeInBackgroundBlue {
  0% {
    background: var(--black-color);
  }
  100% {
    background: var(--brand-color-blue);
  }
}
@keyframes fadeInBackgroundBlue {
  0% {
    background: var(--black-color);
  }
  100% {
    background: var(--brand-color-blue);
  }
}

.light {
  -webkit-animation: fadeInBackgroundLight ease 2s;
  animation: fadeInBackgroundLight ease 2s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-webkit-keyframes fadeInBackgroundLight {
  0% {
    background: var(--brand-color-blue);
  }
  100% {
    background: var(--white-color);
  }
}
@keyframes fadeInBackgroundLight {
  0% {
    background: var(--brand-color-blue);
  }
  100% {
    background: var(--white-color);
  }
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 3.5rem;
}

/* Header Blue & Light */

.blue-header,
.light-header {
  z-index: 10;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.brand-logo {
  text-align: center;
}

.blue-header img,
.light-header img {
  margin-top: 0.6rem;
}

.blue-header .nav-link,
.light-header .nav-link {
  text-align: center;
  font-size: 1.3rem;
}

.blue-header .nav-link {
  color: var(--white-color);
  font-weight: 300;
}

.light-header .nav-link {
  color: var(--brand-color-blue);
  font-weight: 300;
}

.blue-header {
  animation: fadeInShadowLight ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 10;
}

@-webkit-keyframes fadeInShadowLight {
  0% {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0);
  }

  100% {
    box-shadow: 0 5px 10px 0 rgba(255, 255, 255, 0.3);
  }
}

.light-header {
  animation: fadeInShadowBlue ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 10;
}

@-webkit-keyframes fadeInShadowBlue {
  0% {
    box-shadow: 0 5px 10px 0 rgba(0, 39, 118, 0);
  }

  100% {
    box-shadow: 0 5px 10px 0 rgba(0, 39, 118, 0.3);
  }
}

/* Main Section Blue & Light */

.main-blue,
.main-light {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.main-blue h1,
.main-blue h2,
.main-blue i {
  color: var(--white-color);
}

.main-light h1,
.main-light h2,
.main-light i {
  color: var(--brand-color-blue);
}

.main-blue .contact,
.main-light .contact {
  font-size: 2rem;
  margin-top: 2rem;
}

.main-blue .contact {
  color: var(--white-color);
}

.main-blue .contact i:hover {
  color: var(--brand-color-yellow);
}

.main-light .contact {
  color: var(--brand-color-blue);
}

.main-light .contact i:hover {
  color: var(--brand-color-green);
}

.text-yellow {
  color: var(--brand-color-yellow);
}

.text-green {
  color: var(--brand-color-green);
}

/* Media Queries */

@media (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  .blue-header .nav-link,
  .light-header .nav-link {
    text-align: right;
  }

  .main-blue .contact,
  .main-light .contact {
    font-size: 1.5rem;
  }
}
