@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --brand-color-blue: #002776;
  --brand-color-green: #009c3b;
  --brand-color-yellow: #ffdf00;
  --black-color: #000;
  --white-color: #fff;
}

body {
  font-size: 16px;
  font-family: "Lato", sans-serif;
}

.blue-header,
.light-header {
  z-index: 10;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.light-header {
  background: var(--white-color);
}

.blue-header {
  background: var(--brand-color-blue);
}

.blue-header img,
.light-header img {
  margin-top: 0.6rem;
}

.blue-header .nav-link,
.light-header .nav-link {
  text-align: center;
  font-size: 1.3rem;
}

.blue-header .nav-link {
  color: var(--white-color);
  font-weight: 300;
}

.light-header .nav-link {
  color: var(--brand-color-blue);
  font-weight: 400;
}
