@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --brand-color-blue: #002776;
  --brand-color-green: #009c3b;
  --brand-color-yellow: #ffdf00;
  --black-color: #000;
  --white-color: #fff;
}

body {
  font-size: 16px;
  font-family: "Lato", sans-serif;
}

header {
  z-index: 10;
  background: var(--brand-color-blue);
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

header img {
  margin-top: 0.3rem;
}

header .nav-link {
  color: var(--white-color);
}

.light-menu {
  text-align: center;
}
